
/*  import font*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
/*.book.font-family-0 {font-family: Georgia, serif;}  */
/*.book.font-family-1 {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}  */


 /*------------- Whole Document---------------- */

body {
    font-family: 'Roboto';
    font-size: 17px;
}






/*----------LOGO above TOC version 2--------- 

#header.fluid-row::before {
   content: "";
   height: 150px;
   width: 150px;
   float: right;
   background-image: url("https://marcolombardo.com/blog/images/git-github.jpg");
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
 }

*/



/* -----------Sidebar div tips------------- */
/* from r-pkgs.org*/

/* idea tips */

   div.bulb {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #1f5386;
    background-color: #bed3ec;
    border: dashed solid 5px #dfedff;
  }

div.bulb {
  background-image: url("https://raw.githubusercontent.com/NiccoloSalvini/thesis/master/images/div_tips/bulb.png");
}


/* warn tips */
   div.warn {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #1f5386;
    background-color: #ece8be;
  }


div.warn {
  background-image: url("https://raw.githubusercontent.com/NiccoloSalvini/thesis/master/images/div_tips/warn.png");
}

/* Links */
a { 
  color: #5ebccf;
},
a:hover {
 color: #50a0b0; /* darker color when hovering */
},
a:active,
a:visited {
     color: #75aada;
}

/* Whitespace */
.section {
    line-height: 1.7;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.7;
    margin-bottom: 0.5em;
}

h1:before {
    /* Scrollspy overwrites margin/padding-top, so need to use :before */
    display: block;
    content: "";
    margin-top: 1.2em;
}


/* Side menu */
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #75aada;
    border-color: #75aada;
}



/* Side menu 

.list-group-item {
    color: #75aada;
    font-size: 16px;
}

.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #75aada;
    border-color: #75aada;
} 

*/

   /* TOC links 

.list-group-item {
    color: #75aada;
    font-size: 16px;
}


.list-group-item.active {
    color: #75aada;
    background-color: white;
    border: none;
}



.list-group-item:hover, 
.list-group-item.active:hover {
    color: #131b23;
    background-color: white;
}

*/


/* custom alert */
.alert-danger {
    background-color: #843860;
    border-color: #843860;
    color: #ffffff;
}

/* Bootstrap call out custom css */
/* https://cpratt.co/twitter-bootstrap-callout-css-styles/ */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #843860;
}
.bs-callout-danger h4 {
    color: #843860;  /* #d9534f */
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.bs-callout-exercise {
    border-left-color: #356196;
}
.bs-callout-exercise h4 {
    color: #356196;
}


/*----------LOGO above TOC--------- */

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 2em 20px 40px 20px;
  background-image: url("https://cdn.icon-icons.com/icons2/2351/PNG/512/logo_github_icon_143196.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/*--------------------------------------*/
/*----------------- TOC ----------------*/
/*--------------------------------------*/


/* NO TOC on mobile */
@media screen and (max-width: 767px){

  .col-xs-12.col-sm-4.col-md-3 {
    display: none;
  }
  
  .top-text {
    font-size: 25px;
  }

  .bottom-text {
    font-size: 40px;
  }
  
  
}

/* no border in TOC 

position: -webkit-sticky;
  position: sticky; 
  top: 120px; /*Controls where TOC stops when sticky 
  width: 100% !important;

*/



.tocify {
  position: -webkit-sticky;
  top: 120px;
  border: none;
}



/*--------------------------------------*/
/*----------------NAVBAR ---------------*/
/*--------------------------------------*/


.navbar-default {
    background-color: #141c25f2;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: #141c25 !important;
}

/* Dropdown menu color */
.navbar-default .dropdown-menu {
  background-color: #141c25;
}

/* Dropdown menu hover color */
  .navbar-default .dropdown-menu>li>a:hover {
    background-color: #202831f2;
  }

/* Navbar Links when hovered*/
.navbar-default .dropdown-menu>.active>a
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #ffffffab !important;
  background-color: #141c25;
}



  /* -----------Question counter ---------*/
  /* ------- da aggiungere alla fine di ogni capitolo ---------*/

  body {
    counter-reset: li;
  }

  .question ol {
    /* Remove the default left padding */
    padding-left: 0;
  }

  .question ol>li {
    /* Create a positioning context */
    position: relative;
    /* Disable the normal item numbering */
    list-style: none;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 120px;
  }

  .question ol>li:before,
  .question ol>p>li:before{
    /* Use the counter as content */
    content: "Question " counter(li) ": ";
    /* Increment the counter by 1 */
    counter-increment: li;
    position: absolute;
    color: #3d85bb;
    left: -0.5px;
    font-weight: bold;
  }

  .question ol ol {
    counter-reset: subitem;
  }
  

/*----------------------------*/
/*------------FOOTER----------*/
/*----------------------------*/

/* Divider line above footer */
.footer hr{
  width: 100%;
}

.footer {
  font-size: 16px;
  color: #808080;
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  font-weight: 300;
}

.footer.logo {
  width: 25px;
  margin: 0px !important;
}

.rstudio4edu-footer {
  font-size: 12px;
  text-transform: uppercase;
}

.tocify-extend-page {
  height: 0px !important; /* Gets rid of extra space after footer*/
}

